.card__image {
  background-image: url(../../../images/card__image-NullLike.jpg);
  border: 0;
  margin: 0;
  padding: 0;
  background-color: white;
  width: 21px;
  height: 19px;
  opacity: 100%;
  cursor: pointer;
  transition: 0.2s;
}
.card__image:hover {
  opacity: 60%;
}

.card__image-click {
  background-image: url(../../../images/card__image-like.jpg);
}
