.card__template {
  margin: 0;
  list-style: none;
  padding: 0;
  border-radius: 10px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 20px;
  column-gap: 17px;
}

@media screen and (max-width: 970px) {
  .card__template {
    grid-template-columns: auto;
    place-content: center;
  }
}